@import "settings";
@import "foundation";



// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";




//colors
$color_basic: #efefef;
$color_basic_light: #f2f2f2;
$color_logo: #5F85AB;
$color_font: #000;
$color_article: #000;
$color_logo_font: #6F6F6F;
$color_b_menu: #89A6C5;
$color_date_box: #5F85AB;
$color_border: rgba(232, 232, 232, 1);

$color_sidebar_text: #989898;


//
$color_storm_dust_approx: #666;
$white: #ffffff;
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_scarlet_approx: #f30;
$color_celeste_approx: #ccc;
$black: #000;
$color_alto_approx: #ddd;
$mercury: #e5e5e5;
$color_rangoon_green_approx: #1a1a1a;
$color_gravel_approx: #484848;
$color_suva_gray_approx: #868686;
$color_log_cabin_approx: #222;
$color_gallery_approx: #eee;
$blaze_orange: #f60;
$color_butterfly_bush_approx: #5a5194;
$color_kimberly_approx: #7870ab;
$color_medium_red_violet_approx: #a2348f;
$color_wild_sand_approx: #f5f5f5;
$color_alabaster_approx: #f9f9f9;
$color_tapa_approx: #777;
$color_silver_chalice_approx: #afafaf;

//fonts
$font_0: 'Nanum Gothic';
$font_1: 'Nanum Gothic';
$font_2: 'Nanum Gothic';
$font_3: 'Nanum Gothic';
$font_4: 'Nanum Gothic';
$font_5: 'Nanum Gothic';
$font_6: 'Nanum Gothic';
$font_7: 'Nanum Gothic';
$font_8: 'Nanum Gothic';

//urls
$url_0: url(images/bg.gif);
$url_1: url(images/ico_prev_no.gif);
$url_2: url(images/ico_next_no.gif);
$url_3: url(images/iconAdmin.gif);
$url_4: url(images/iconSecret.gif);
$url_5: url(images/iconMore.gif);
$url_6: url(images/iconLess.gif);
$url_7: url(images/tistory_bg.gif);
$url_8: url(images/head_bg.gif);
$url_9: url(images/menu_div.gif);
$url_10: url(images/iconIndentArrow_local.gif);
$url_11: url(images/iconIndentArrow_localinfo.gif);
$url_12: url(images/btn_visit.gif);
$url_13: url(images/btnAddress.gif);
$url_14: url(images/btnModifyDelete.gif);
$url_15: url(images/btnReply.gif);
$url_16: url(images/imgProtected.gif);
$url_17: url(images/iconBlockquote.gif);
$url_18: url(images/iconTag.gif);
$url_19: url(images/iconDelete.gif);
$url_20: url(images/iconReComment.gif);
$url_21: url(images/btn_reple.gif);
$url_22: url(images/iconBy.gif);
$url_23: url(images/icon_notice.gif);
$url_24: url(images/icon_notice_over.gif);
$url_25: url(images/btn_search_n.gif);
$url_26: url(images/bul.gif);
$url_27: url(images/bottom1.jpg);
$url_30: url(images/left-top.png);
$url_31: url(images/pattern.gif);


//custom colors
$header_backgorund: #ffffff;
$blog_title_color: #454545;

$headerbox_color: #ffffff;

$content_background: #ffffff;

$sidebar_background_color: #ffffff;

$footer_background_color: #ffffff;

$topbar_background_color: #F2F2F2;
$topbar_small_background_color: #EFEFEF;
$topbar_font_color: #6F6F6F;

$topbar_right_menu_color: #6F6F6F ;











.top-bar {

  background-color: $topbar_background_color;
  color: $topbar_font_color;
  .title-area {
    background-color:$topbar_background_color;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: $topbar_background_color;
    color: $topbar_font_color;
  }
  .toggle-topbar.menu-icon a{
    color: $topbar_right_menu_color;
  }
  .name {
    background-color: $topbar_small_background_color;
  }
}








.sidebar_layer1 {
margin:0px !important;
}



/* .slideOne */
.slideOne {
  width: 50px;
  height: 10px;
  background: #ffffff;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  // box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -3px;
    left: -3px;
    cursor: pointer;
    // background: #fcfff4;
    background: transparent linear-gradient(to bottom, #FFF 0%, #F3F3F3 40%, #FFF 100%) repeat scroll 0% 0%;
    border-radius: 50px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 37px;
    }
  }

  input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left:0rem;
  }


}
/* end .slideOne */



.comment-secret-box {
float: right;
margin-top: -59px;
margin-right: 59px;
width: 120px;
}

.secret-box {
  z-index: 999;
  position: absolute;
  width: 53px;
  right: 0;
  margin-right: 27px;
  padding-top: 4px;
}

.secret-label {
margin-top: 10px;
margin-left: 5px;
label {
color :#bbbbbb;
}
}

.url-row {
// margin-top: 5px;
}

.label-lock {
width: 31px;
float: right;
margin-top: -31px;
}
.comment-send-box {
    height: 17px;
  position: absolute;
  z-index: 999;
  right: 0;
  margin-right: 52px;
  margin-top: 122px;
  width: 48px;
}

.secret {
padding-top: 8px;
margin-top: 9px;
margin-left: 6px;
}
.comment-send-icon {
input {

font-size: 1.3rem;
height: 37px;

}

.submit {
height: 38px;
}




}



.comment-sugguest-icon {
// margin-left: -20px;
}

.pagination li a {
text-decoration: none;



#prevPage {
 position: absolute;
  margin-left: -32px;
  margin-top: 8px;
}
#nextPage {
position: absolute;
margin-left: 32px;
margin-top:8px;
}
i {
font-size: 1rem;
}
}

.row {
.pagination-line {
  margin-top: 50px !important;
}
}
.sidebar-info {

width:100%;
}


#treeComponent {

border: solid 0 #000;
margin-bottom: 0.0rem;
background-color: transparent;
table-layout: auto;

tbody tr td {
padding: 0;
table {
margin-bottom: 0;
border: 0px;
background-color: transparent;
tbody tr td {
padding: 0;
.c_cnt{
color: #B2B2B2;
}
table {

border: solid 0 #000;
}

}
}
}
}



















$color-stack:
  (group: primary, id: normal, color: #2196f3),
  (group: complement, id: normal, color: #fff);

@function color($group, $shade:normal, $transparency:1) {
  @each $color in $color-stack {
    $c-group: map-get($color, group);
    $c-shade: map-get($color, id);
    @if($group == map-get($color, group) and $shade == map-get($color, id)){
      @return rgba(map-get($color, color), $transparency);
    }
  }
}

$b-height: 60px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: $b-border-width; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: .4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: Helvetica-Neue, Helvetica, Arial, sans-serif; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: ($b-height / 2 - $b-bun-width-half - 2); //Horizontally centers bun in menu
$b-pad-top: ($b-height / 2 - $b-bun-width-half); //Vertically centers bun in menu

@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

* {
  box-sizing: border-box;
}

body {
  &:after {
      background: $color_b_menu;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    transition: $b-transition;
    width: 100%;
  }

  &.open {
    overflow: hidden;
  }

  &.open:after {
    opacity: 1;
    visibility: visible;
  }
}




.logo-box {
// background-color: $color_logo;
  border-radius: 10px;
  color: $color_font;
  // height: 215px;

  a {
  color: $color_font;
  }
}








.b-nav ul {
margin-left:20%;

a {
color: $color_font;
// font-weight:bold;
font-size: 1.2rem;
text-decoration: none;

}

    li.t_menu_home.first {
    // padding-top: 13px;
    }


}





@media screen and (max-width:640px) {

.b-nav ul {
margin-left:140px;
}

}








.b-nav {
  position: absolute;
  z-index: 11;

  &:not(.open) {
    visibility: hidden;
  }

  li {
    color: color(complement);
    list-style-type: none;
    padding: 10px;
    text-align: left;
    transform: translateX(-250px);
  }

  li:not(.open) {
    animation-duration: $b-trans-speed;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
  }

  li:first-child {
    // padding-top: $b-txt-pad-top;
    // margin-top: 103px;
  }

  li.t_menu_home.first {
  margin-top: 103px;
  }


  &.open {
    visibility: visible;
      margin-top: 55px;
      padding-top: 50px;
      width: 400px;


    li {
      animation-duration: $b-trans-speed;
      animation-fill-mode: both;
      animation-name: slideInLeft;
        border-left: solid 2px #000;
  margin: 10px;



    }
  }
}







.b-link {
  background: transparent;
  border-left: color(complement, normal, 0) solid $b-border-width;
  color: color(complement);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-margin-left;
  text-decoration: none;
  transition: $b-transition;
  width: auto;

  &:hover,
  &--active {
    border-left: color(complement) solid $b-border-width;
    padding-left: $b-txt-pad;
  }
}

.b-menu {
    background: $color_b_menu;
  border: #FFFFFF solid 2px;
  border-radius: $b-border-radius;
  cursor: pointer;
  display: inline-block;
  height: $b-height;
  padding-left: $b-pad-left;
  padding-top: $b-pad-top;
  position: relative;
  transition: $b-transition;
  user-select: none;
  width: $b-height;
  z-index: 12;
  margin-top:10px;
    // float: left;
  margin-right: 10px;

  &:hover {
    border: color(complement) solid $b-border-width;
  }
}

.b-bun {
  background: color(complement);
  position: relative;
  transition: $b-transition;

  &--top {
    height: $b-bun-height;
    top: 0;
    width: $b-bun-width;
  }

  &--mid {
    height: $b-bun-height;
    top: 8px;
    width: $b-bun-width;
  }

  &--bottom {
    height: $b-bun-height;
    top: 16px;
    width: $b-bun-width;
  }
}

.b-brand {
  color: color(primary);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-txt-pad;
  position: relative;
  text-decoration: none;
  top: -$b-line-height;
  transition: $b-transition;
  z-index: 13;
}



.blog-comment {
 padding-left: 10px;
}

.b-container {
  // height: $b-height;
  // left: $b-margin-left;
  // // position: absolute;
  // top: $b-margin-top;
  margin-top:33px;

  &:hover:not(.open) {
    .bun-top,
    .bun-mid,
    .bun-bottom {
      background: color(primary);
    }
  }

  &.open {
    .b-main {
      border: color(complement) solid $b-border-width;
    }

    .b-bun--top {
      background: color(complement);
      top: 9px;
      transform: rotate(45deg);
    }

    .b-bun--mid {
      opacity: 0;
    }

    .b-bun--bottom {
      background: color(complement);
      top: 5px;
      transform: rotate(-45deg);
    }

    .b-brand {
      color: color(complement);
    }
  }
}






.row .search-result-box {
margin-bottom:15px !important;
}





// .flex-container {

//    display: -webkit-flex;
//    display: flex;
//    -webkit-flex-direction: column;
//    flex-direction: column;
// }


// .catergory-block{
//    display: -webkit-flex;
//    display:         flex;

// }
// .tag-block{
//    display: -webkit-flex;
//    display:         flex;

// }

// #catergory {

// display:block;

// ul{
//    height: 40px;
//    margin: 0;
//    padding: 0;
//    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
//    border-left: 1px solid #939393;

// li {
//    height: 20px;
//    font-size: 12px;
//    display: block;
//    float: left;
//    border-right: 1px solid #939393;
//    padding: 10px 20px;

// a{
// display: block;
// }

// }



// }
// }




#category {

// float:left;
margin:auto;
font-family: 'Marck Script', cursive;
margin-bottom:20px;
width:auto;


.stitle {

}
.c_cnt {
color: #A36252;
}

h3 {

display:block;
 float: left;
 width: 100%;

ul{
 display: inline-block;
 list-style-type: none;
 border-bottom: none;
float: left;
  width: 100%;
margin: auto;
margin-top:21px;

li {
 display: block;
 text-align: center;
 background: transparent;
 width: 100%;
 min-height: 31px;
 text-align: center;
 line-height:31px;
 list-style-type: none;
   // border-bottom: 1px solid #808080;
 padding: 0;
 margin: auto;

ul li {

 display: block;
 text-align: center;
 background: transparent;
 border-bottom: none;
   // border-top: 1px solid #808080;
 width: 100%;
 height: 31px;
 text-align: center;
 list-style-type: none;
 margin:auto;
}

a{
display: block;
font-family: "Nanum Gothic";
margin-bottom: 1px;
}

}



}
}
}

// #catergory ul li {

// display: inline-block;

// }

// .row {
// max-width:80rem;
// }

// #sidebar .wrapper ul li, #sidebar .wrapper ul li a {

// display: inline-block;
// }

.adsense-top{
text-align:center;
  margin-top:50px;
span{
// margin:10px;
}
}
.adsense-bottom{
text-align:center;
span{
// margin:10px;
}
}


.adsense-bottom2 {
  margin-top:10px;
}




.wrapper {
background-color: transparent;
}


// 작은 화면


@media only screen and (max-width: 70em) {


.left-container {
  background-color: #000;
  width: 100%;
  float:left;
  // position:fixed;
  // height:332px;
  border: solid 1px #DBDBDB;


background: url("images/bg_pattern1.gif") top left repeat;

}



// .blogmenu ul li a {
//     color: #000;
// }
//
//



#searchBox {
  // display: none;
}



.right-container {
  background-color: #F0F0F0;
  width:100%;
  float:right;

}


.blogmenu {
  width: 100%;
  text-align:center;
}

.blogmenu ul{

   margin:auto;
   // width: 500px;
   display: inline-block;

  li{
    // width: 100px;
    height: 50px;
    float:left;
    background-color: transparent;
    color: #000;
    list-style-type: none;
    // margin: 5px;
    padding: 10px;
    text-align: center;
    transition-property:margin-left;
    transition-duration:400ms;
    transition-timing-function: ease;

    /* Safari */
    -webkit-transition-property:margin-left;
    -webkit-transition-duration:400ms;
    -webkit-transition-timing-function:linear;

        a {
            font-family: "Nanum Gothic";
            font-size: 0.8rem;
            color: #000;

        }

    }

    li:hover{
        margin-left: 2px;

        a {
          color : #242424;
        }
    }



}






}



// 큰화면
//
@media all and (min-width:70em) {


.left-container {
  background-color: #000;
  width: 30%;
  float:left;
  position:fixed;
  height:100%;
  border: solid 1px #DBDBDB;

  background: url("images/bg_pattern1.gif") top left repeat;

}





.right-container {
  background-color: #F6F6F6;
  width:70%;
  float:right;

}




.blogmenu {

    margin-top: 50px !important;
}





.blogmenu ul{

   margin-left: 0px !important;

  li{
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: #030303;
    list-style-type: none;
    // margin: 5px;
    padding: 10px;
    text-align: center;
    transition-property:margin-left;
    transition-duration:400ms;
    transition-timing-function:linear;

    /* Safari */
    -webkit-transition-property:margin-left;
    -webkit-transition-duration:400ms;
    -webkit-transition-timing-function:linear;

        a {
            font-family: "Nanum Gothic";
            font-size: 0.8rem;
            // color: #AEAEAE;


        }

    }

    li:hover{
        margin-left: 2px;

        a {
          color : #5D5D5D;
          text-decoration: none;
        }
    }



}










}








.black-background {
// background-color: #000000;
// height: 220px;
// background: $url_31 repeat !important;
// border-bottom:1px solid #969696;
// background-color:#efefef;

  padding-top: 50px;
  float: left;
  width: 30%;
  background-color: #000;


.icon-bar {
background-color:transparent;
i {
   color: #0479EA;
}

label {
color:#4ea6ff;
font-size: 0.7rem;
margin-top:5px;
}
}

}
.white-background_menu {
background-color: #ffffff;
margin-bottom: 20px;
  // border-bottom: solid 1px #969696;
}

.white-background {
// background-color: #ffffff;
margin-bottom: 20px;

}

.lightgray-background {
background-color: #efefef;

}

.darkgray-background {
// background-color: #000000;
background-color: #304F77;
background: url("images/pattern.png") top left repeat;


}

 .foooter-color-space {
  height: 5px;
  width:100%;
  // background-color:#bdbdbd;
  // background: $url_27 left 1px no-repeat !important;
 }


.addsense1 {
width: 340px;
}
.addsense2 {
width: 340px;
}

.blog_info{
width: 100%;
padding: 50px;



#blogImage {
width: 70%;
 max-width: 100px;
 min-width: 50px;
 margin: auto;;
img {
  width: 100%;
  max-width:100px;
  max-height:100px;
  padding-bottom: 6px;
margin-top: 10px;
}
}



.blog_info_text{
padding: 3% 0 3% 0;

#blogDesc {
   color: #000;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: center;
  border-bottom: 1px solid #232323;
  padding-bottom: 27px;

}
#userID {
color: #BDBDBD;
background: $url_22 3px 0 no-repeat;
padding-left: 3px;
margin-top: 5px;
letter-spacing: 0px;
float:right;
font-size: 0.9em;
}

}

}


#blogDesc {
   color: #000;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: center;
  border-bottom: 1px solid #232323;
  padding-bottom: 27px;


}



.top_image img {
// width: 30%;
max-width: 130px;
max-height:130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:28px;
}


.top_title {
text-align: center;
    font-family: 'nanum gothic', "Nanum Gothic", dotum, sans-serif;
    margin-top: 9px;
    font-size: 0.8em;






    h1 {
    a {
    font-family: 'nanum gothic', "Nanum Gothic", dotum, sans-serif;
    color: $color_font !important;
    }

a:visited {
 // color: #EAEAEA;
 text-decoration: none;
 color: $color_logo_font !important;
}


}

}



.corner-img-top-left{
width: 100px;
float:left;
max-width:50px;
margin-left:10px;
img{
width:100%;
margin-top:5px;
margin-left:5px;

}

}




.corner-img-top-right {

width:100px;
float:right;
max-width:50px;
margin-right:10px;
img{
float:right;
width:100%;

margin-top:5px;
margin-right:5px;

        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


}

    .corner-img-bottom-left{
width: 100px;
position:absolute;
max-width:50px;
margin-left:10px;

top: 220px;
img{
width:100%;
margin-top:5px;
margin-left:5px;


        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

}





    .corner-img-bottom-right{
width:100px;
position: absolute;

right: 0;
top: 220px;

max-width:50px;
margin-right:10px;

img{
float:right;
width:100%;

margin-top:5px;
margin-right:5px;


  }

    }



#sidebar {
    font-family: "Nanum Gothic";
    font-size: 1rem;
    margin-bottom:10px;
    text-align:center;
    margin-left: -1px;


    span{
     font-size: 0.6em;
     color: #ababab;
    }



    h3 {
    font-size: 1rem;
    // font-weight: bold;
    color: #5F85AB;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: nanum gothic;
    }
    .cnt {
    font: 0.85em $font_0, $font_1, $font_2, $font_3, $font_4;
    color: #BDBDBD;
    }
    .date {
    font: 0.85em $font_5, $font_1, $font_2, $font_3, $font_4;
    color: $color_suva_gray_approx;
    }
    .name {
    font: 0.9em $font_6, $font_2, $font_4;
    color: $color_suva_gray_approx;
    }


    ul {
      padding: 5px 2px;
      margin: 0;
      list-style: none;



        li {
          padding-left:6px;
          background: none;
          margin-bottom: 10px;
          font-size: 14px;

                  a {
                    color: $color_sidebar_text;
                    // font-size:0.9rem;
                    margin-bottom:15px;
                    font-family:"Nanum Gothic", !important;
                    }
        }
    }





  #blogImage {
   max-width: 150px;
   margin: auto;
  }

  #calendar {
   max-width: 250px;
   margin: auto;

   clear:both

  }


  .module_widget {
  margin-bottom:18px;
  }

/* 리스트 */




  #category ul li,
  #category ul li a {
  color: $color_sidebar_text;
  // font-size:0.9rem;
  margin-bottom:0px;
  font-family:"Nanum Gothic", !important;
  }



  #tagbox {
      .tagblock-centered {
      margin:auto;
      }
    padding: 0 50px 0 50px;


    .stitle {
    margin-bottom: 21px;
    }
  }



    .cloud1 {
    // background-color: $color_gallery_approx;
    font-weight: bold;
    font-size: 31px;
    color: $color_medium_red_violet_approx;
    float: left;
    padding: 5px;
    transition: color 300ms ease-out;
    }
    .cloud2 {
    // background-color: $color_gallery_approx;
    font-weight: bold;
    font-size: 27px;
    color: $color_butterfly_bush_approx;
    float: left;
    padding: 5px;
    transition: color 300ms ease-out;

    }
    .cloud3 {
    // background-color: $color_gallery_approx;
    font-weight: bold;
    font-size: 23px;
    color: $color_kimberly_approx;
    float: left;
    padding: 5px;
    transition: color 300ms ease-out;
    }
    .cloud4 {
    // background-color: $color_gallery_approx;
    font-size: 20px;
    color: $color_storm_dust_approx;
    float: left;
    padding: 5px;
    transition: color 300ms ease-out;
    }
    .cloud5 {
    font-size: 10px;
    color: $color_suva_gray_approx;
    float: left;
    padding: 5px;
    transition: color 300ms ease-out;
    }



  }



// End sidebar












.nav-part {
margin-top:-10px;
}


nav.top-bar {
    // padding: 2px;
    background-color: transparent;
}

nav.top-bar.fixed {
padding: 0px;
border-bottom: solid 1px #dddddd;
background-color: #fff;
}


.area-navigation{
padding-top: 0px;
}

.top-bar {
padding: 0px;
// background-color: #ffffff;
// padding-top:1px;
color: $topbar_font_color;


.title-area {
background-color: #efefef !important;

li {


}
}



li .name {
&:hover {
background-color:#efefef;
}
}

.top-bar-section {
margin-top: -1px;
// margin-top:-10px;
ul {
// border-bottom: solid 1px;

li {
// border-top: solid 1px #4D4D4D;
background: transparent;
// border-top: solid 1px #efefef;

a{
padding-left: 40px;
}
}


}
}

.top-bar.expanded {

  padding: 0px !important;
  background-color: transparent !important;
}



.top-bar-section li:not(.has-form) a:not(.button) {
background-color: transparent;
color: #000000;
font-family:"Nanum Gothic";

&:hover {
 color: #000000;
 transition: background-color 300ms ease-out;
 background-color: #efefef;
 text-decoration: none;
}

}


// .toggle-topbar .expanded {


 //  background-color: #efefef;
// }


.toggle-topbar.menu-icon a{
color: #000000;
text-decoration: none;
}
.name {
// background-color: $topbar_small_background_color;
// background-color: #efefef;
// margin: -10px;
}
}


@media #{$topbar-media-query} {
  nav.top-bar {
    text-align:center;
  }
  section.top-bar-section {
    display: inline-block;
  }
}




.admin {
font-size: 0.8rem;
  // margin-top: 10px;
}




.titleWrap h2 {
  margin-bottom: 0.4rem;

  font-weight: bold;
}

.another_category_color_gray h4, .another_category_color_gray h4 a {
color: $color_font !important;
}
.another_category {

  font-family: 'nanum gothic' !important;
   border: solid 0px #ffffff !important;
   padding: 0px !important;

  h4 a {
  font-family: 'nanum gothic' !important;
  color: $color_font !important;
  }

  table {

  border: 0px;
      tr {
      height: 2.2rem;
      }
      td {
      display: none;
      }
      th {
      // border: solid 0px #ffffff !important;
      border-bottom: solid 0px #ffffff !important;

      font-family: 'nanum gothic' !important;
      // text-decoration: none;

          a{
          font-size: 12px !important;
          text-decoration: none !important;
          color: $color_font !important;
              &:visited {
              text-decoration: none;
              }
          }
      }
      th a.current {
       border-bottom: 0px solid !important;
        font-family: 'nanum gothic' !important;
        text-decoration: none;

      }
  }

}

.another_category_color_gray {
border:solid 0px #ffffff;
margin-top:20px !important;

h4 {
border:solid 0px #ffffff;
margin-top:20px;

a {
color: $color_font !important;
}
}

th a {
color : $color_font !important;
}

th a.current {
border-color: transparent !important;
color : $color_font !important;
}
}


.another_category_color_gray * {
background-color: transparent !important;
color: $color_font !important;

}



//@extend-elements
//original selectors
//#searchList ol, #searchRplist ol
%extend_1 {
list-style: none;
padding: 18px 20px;
margin: 0;
margin-left:-20px;
}

//original selectors
//#searchList li, #searchRplist li
%extend_2 {
// border-bottom: 1px solid $color_gallery_approx;
padding-bottom: 2px;
margin-bottom: 4px;
font-size: 13px;
}

//original selectors
//#guestList ol, #guestList ul
%extend_3 {
margin: 0;
padding: 0;
list-style: none;
}

//original selectors
//.comment ol, .comment ul
%extend_4 {
margin: 0;
padding: 0;
list-style: none;
}


@charset "utf-8";
body {
font: 0.9em "Nanum Gothic", Verdana, AppleGothic, Sans-serif;
color: $color_storm_dust_approx;
background-image: none;
background-position: left top;
background-repeat: no-repeat;
background-color: $white;
padding: 0;
margin: 0;
}
a {
&:link {
color: $color_mine_shaft_approx;
text-decoration: none;
}
&:visited {
color: $color_mine_shaft_approx;
text-decoration: none;
}
&:hover {
color: $color_storm_dust_approx;
text-decoration: underline;
}
&:active {
color: $color_storm_dust_approx;
text-decoration: none;
}
&.cal_click {
&:link {
color: $color_mine_shaft_approx;
font-weight: bold;
}
&:visited {
color: $color_mine_shaft_approx;
font-weight: bold;
}
&:hover {
color: $color_scarlet_approx;
font-weight: bold;
}
}
}
.selected {
font-weight: bold;
color: $color_mine_shaft_approx;
}
.no-more-prev {
background: $url_1 left 1px no-repeat !important;
padding-left: 6px;
color: $color_mountain_mist_approx;
}
.no-more-next {
background: $url_2 right 1px no-repeat !important;
padding-right: 6px;
color: $color_mountain_mist_approx;
}
.ib {
cursor: pointer;
}
.branch3 {
cursor: pointer;
}
.c_cnt {
font: 0.75em $font_0, $font_1, $font_2, $font_3, $font_4;
color: $color_scarlet_approx;
}
.cal_month {
font: 0.95em $font_5, $font_1, $font_2, $font_3, $font_4;
height: 18px;
font-weight: bold;
}
.cal_week1 {
font: 0.95em $font_6, $font_2, $font_4;
height: 18px;
font-weight: normal;
}
.cal_week2 {
font: 0.95em $font_6, $font_2, $font_4;
color: #761700 ;
}
.cal_week {
}
.cal_current_week {
}
.cal_day {
font: 0.95em $font_5, $font_1, $font_2, $font_3, $font_4;
color: $color_mountain_mist_approx;
text-align: center;
}
.cal_day_sunday {
color: #933B26 !important;
a {
color: $color_scarlet_approx !important;
}
}
.cal_day1 {
color: $color_celeste_approx;
}
.cal_day2 {
color: $color_celeste_approx;
}
.cal_day3 {
color: $color_storm_dust_approx;
}
.cal_day4 {
color: $black;
text-decoration: underline;
}
.rp_general {
}
.rp_admin {
background: $url_3 no-repeat;
padding-left: 20px;
}
.rp_secret {
color: $color_scarlet_approx;
}
.guest_general {
}
.guest_admin {
background: $url_3 no-repeat;
padding-left: 20px;
}
.hiddenComment {
background: $url_4 no-repeat;
padding-left: 20px;
font-weight: normal;
}
.cap1 {
color: $color_mountain_mist_approx;
text-align: center;
padding: 4px 0;
margin: 0;
}
.imageblock {
border: 1px solid $color_alto_approx;
padding: 3px;
margin: 5px 0;
text-align: center;
}
.left {
}
.center {
}
.right {
}
.dual {
background-color: $white;
margin-bottom: 5px;
}
.triple {
background-color: $white;
margin-bottom: 5px;
}
.moreless_fold {
background: $url_5 top left no-repeat;
padding-left: 20px;
color: $black;
}
.moreless_top {
background: $url_6 top left no-repeat;
padding-left: 20px;
color: $black;
}
.moreless_body {
}
.moreless_bottom {
background: $url_6 top right no-repeat;
padding-right: 20px;
color: $color_mountain_mist_approx;
text-align: right;
}
.key1 {
cursor: pointer;
border-bottom: 1px dotted $color_celeste_approx;
}
hr {
display: none;
}
img {
border: 0;
}
h1 {
margin: 0;
padding: 0;
font-size: 1.6em;
}
h2 {
margin: 0;
padding: 0;
font-size: 1.4em;
}
h3 {
margin: 0;
padding: 0;
font-size: 1.2em;
}
h4 {
margin: 0;
padding: 0;
font-size: 1em;
}
input {
border: 1px solid $mercury;
}
textarea {
border: 1px solid $mercury;
}
#container {

}
#headerBox {
background-color: transparent;
// width: 100%;
margin: 0;
padding: 0;
// background-image: $url_8;
background-position: left top;
background-repeat: repeat;
// background-color: $color_rangoon_green_approx;
height: 125px;
font-family: 'Marck Script', cursive;
}
#header {
// background-color: $header_backgorund;
// width: 860px;
// margin: 0 auto;
padding: 67px 0 0 14px;


h1 a {
padding: 0;
margin: 0;
font-family: $font_7;
color: #cccccc;
font-weight: bold;
font-size: 1.3em;
line-height: 1.0;
}
}
#content {



  margin-top: 20px;
// margin-top: 30px ;
// background-color: #77CFFF;

// border-right: solid 1px #c8c8c8;
.entry {

// padding: 0 0 15px 0;
overflow: hidden;
margin-bottom: 50px;
// background-color:#4ea6ff;
border-radius: 10px;
    margin-top: 22px;
}
.nonEntry h3 {
// border-bottom: 1px solid $color_celeste_approx;
margin-bottom: 10px;
// color: $color_log_cabin_approx;
}



/* Default paragraph styles */
p {
 font-family: 'Nanum Gothic', sans-serif;
 font-size: 0.9rem;
 font-weight: normal;
 line-height: 1.5rem;
 margin-top:1.5rem;
 margin-bottom: 1.5rem;
 text-rendering: optimizeLegibility; }
 color: $color_font !important;

p.lead {
   font-size: 1.21875rem;
   line-height: 1.6; }
p aside {
   font-size: 0.875rem;
   font-style: italic;
   line-height: 1.35; }



}

.row {
.row {
margin: 0px;
}
}


.row {
.sidebar-layer3 {
margin-top:40px;
}

}


.footer.row {
background-color: transparent;
}




.tistorytoolbar {
// display: none;
}

.footer_copyright {
// background: $footer_background_color;
// background-color: #000;
clear: both;
height: 50px;
text-align: center;
padding: 20px 10px 10px;
  margin-top: 20px;

// margin-top: 70px;
// font: 11px $font_5, $font_7;
font-family: 'nanum gothic', sans-serif;
  font-size: 0.6rem;
color: #000;
a {
text-decoration: none !important;
color: #000;
&:hover {
color: #595873;
}
}
}




#searchList {
// width: 610px;
margin: 0;
// padding: 0 0 15px 0;
// overflow: hidden;
ol {
@extend %extend_1;
}
li {
@extend %extend_2;
}
.date {
font: 0.95em $font_5, $font_1, $font_2, $font_3, $font_4;
margin-right: 10px;
float: right;
color: #9C9C9C;

}
.cnt {
font: 0.75em $font_5, $font_1, $font_2, $font_3, $font_4;
color: #A4A4A4;
}
}
#searchRplist {
ol {
@extend %extend_1;
}
li {
@extend %extend_2;
}
.date {
font: 0.95em $font_5, $font_1, $font_2, $font_3, $font_4;
margin-right: 10px;
}
.name {
font: 0.95em $font_6, $font_2, $font_4;
color: $color_mountain_mist_approx;
padding-left: 8px;
}
}
#localog {
.spot {
background: $url_10 5px 0 no-repeat;
padding-left: 20px;
margin-top: 5px;
}
.info {
background: $url_11 5px 3px no-repeat;
padding-left: 15px;
margin-top: 2px;
}
a {
&:link {
color: $color_butterfly_bush_approx;
}
&:visited {
color: $color_butterfly_bush_approx;
}
&:hover {
color: $color_kimberly_approx;
text-decoration: underline;
}
}
}
#taglog {
ul {
padding: 5px;
margin: 0;
text-align: justify;
}
li {
display: inline;
.cloud1 {
background-color: $color_gallery_approx;
color: $color_medium_red_violet_approx;
font-weight: bold;
font-size: 16px;
}
.cloud2 {
background-color: $color_gallery_approx;
color: $color_butterfly_bush_approx;
font-weight: bold;
font-size: 15px;
}
.cloud3 {
background-color: $color_gallery_approx;
color: $color_kimberly_approx;
font-weight: bold;
font-size: 14px;
}
.cloud4 {
background-color: $color_gallery_approx;
color: #A06039;
font-size: 13px;
}
.cloud5 {
font-size: 12px;
color: #D0D0D0;
}
}
a:hover {
background-color: $color_gallery_approx;
color: $black;
}
}
#guestWrite {
padding: 10px;
// background-color: $color_wild_sand_approx;
// border: 1px solid $color_alto_approx;
input {
// width: 150px;
}
textarea {
// width: 565px;
overflow: hidden;
padding: 5px;
color: #666;
background-color: #EFEFEF;
border-radius: 8px;
float: right;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}



}


.guestbook {
.comment-send-icon {
margin-top: -56px;
margin-right:31px;
}
}


.guestbook-input-text textarea{
  overflow: hidden;
padding: 5px;
color: #666;
background-color: #EFEFEF;
border-radius: 8px;
float: right;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.guest-input input {
  border-radius: 6px;
}




#guestList {
padding: 10px 0 0;
ol {
@extend %extend_3;
li {
border: 0px solid #efefef;
padding: 10px;
margin-bottom: 10px;
overflow: hidden;
}
}
ul {
@extend %extend_3;
}
li {
p {
border-top: 1px dashed $color_celeste_approx;
margin-top: 5px;
padding-top: 5px;
}
.name {
color: $color_storm_dust_approx;
font-weight: bold;
}
.date {
font: 0.6em $font_0, $font_1, $font_2, $font_3, $font_4;
 color: #BBBBBB;
}
ul li {
margin-left: 20px;
background: $url_10 no-repeat 10px 10px;
background: #F2F2F2;
padding-left: 25px;
border: none;
// width: 500px;
overflow: hidden;
}
}
.control a {
&.address {
// background: $url_13 no-repeat;
padding-left: 24px;
padding-bottom: 2px;
text-decoration: none;
span {
display: none;
}
}
&.modify {
// background: $url_14 no-repeat;
padding-left: 24px;
padding-bottom: 2px;
text-decoration: none;
span {
display: none;
}
}
&.write {
// background: $url_15 no-repeat;
padding-left: 13px;
padding-bottom: 2px;
text-decoration: none;
span {
display: none;
}
}
}
}
.entryProtected {
h2 {
font-size: 1.2em;
line-height: 1.2em;
}
input {
// width: 200px;
}
.submit {
width: 50px;
padding-top: 2px;
height: 20px;
background-color: #efefef;
}
p.text {
background: $url_16 no-repeat;
padding-left: 50px;
}
}
.titleWrap {
// width: 610px;
// background-color:#ff7a6c;
// border-bottom: 1px solid $color_celeste_approx;
padding-bottom: 5px;
margin-bottom: 20px;
overflow: hidden;

h2 {
margin-bottom:13px;
}
.date {
font: 0.9em $font_5, $font_1, $font_2, $font_3, $font_4;
color: #969696;
}


.category{

color: #969696;
a {
font: 12px $font_6, $font_2, $font_4;
color: #969696;
margin-right: 6px;
}
}
}


.date-box {
color: $color_date_box;
}







.tab_time {

}


.tab_date {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-left: -5px;
  // float:right;
  width: 114px;
}

.date_tab {
  width: 100px;
  padding: 0px;
  font-size: 10px;
}



.date-icon {
  width: 60px;
  // float: right;
}

.date-box-up {
  width: 100px;
}


.tab_year {
  float: left;
}

.tab_time {
  float: left;
  margin-left:10px;
}





.date-box-up {
  font-size: 10px;
  float: right;
}





.entry:nth-child(odd) {
  .article-box {

     background-color: rgba(255, 255, 255, 0.69);
    border: 1px solid #EAEAEA;



      }
}



.article-box-title-column {
  margin-top: 25px;
  height: 150px;
}


.article-box {
color: $color_article;
  border-radius: 3px;
  // border: solid 4px #275d96;
  padding: 22px;
  padding-top:10px;
  background-color: rgba(255, 255, 255, 0.69);
  padding-top:35px;
  padding-bottom: 50px;
  border: solid 1px #ededed;

  .article-box-title {
   // float: left;
 // width: 100%;
 margin-bottom: 21px;
 border-bottom: solid 0px $color_border;
 padding-bottom: 10px;
   margin-bottom: 10px;
   padding-top: 50px;


 a{
  color: $color_font !important;
 font-size: 1.3rem;
 padding-bottom: 10px;

 }
}
.article_info-box {
 // height: 100px;
    //
    margin-bottom: 25px;
border-top: 1px solid #efefef;
padding-top: 16px;

 a {
  color: $color_font;
  font-size: 0.6rem;
 }
}
.admin {
float:right;
}


}


.date-box-up {
  // float: right;
}

.date-box-bottom {
  // float: right;
}



.article {
// width: 610px;



    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
    color: $color_font !important;

  span {

        font-family: 'Nanum Gothic', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: normal !important;
    line-height: 1.5rem !important;
    text-rendering: optimizeLegibility !important;
    color: $color_font !important !important;
  }






// overflow: hidden;
// border-radius:8px;
// padding:20px;
// background-color: #4ea6ff;
a {
&:link {
color: $color_font;
text-decoration: none;
}
&:visited {
color: $color_font;
text-decoration: none;
}
&:hover {
color: $color_font;
text-decoration: none;
font-weight:bold;
}
&:active {
color: $color_font;
text-decoration: none;
}
}
dt {
text-decoration: underline;
}
dd {
margin-left: 20px;
padding-bottom: 10px;
}
blockquote {
background: $url_17 top left no-repeat;
padding-left: 25px;
margin: 10px 20px;
}
}
























.author {
 text-align: right;
  color: #181818;
  padding: 10px;
  font-size: 0.8rem;
  width: 300px;
  float: right;
// font-family: 'Marck Script', cursive;

.text {
// font-family: 'Marck Script', cursive;
color: #747474;
}

}

.author-box {
margin-right:10px;
}

.tagTrail {
padding: 8px 5px 5px 0px;
// background: $url_18 center left no-repeat;
// clear: both;
// float:right;
}
.tagText {
display: none;
}
.actionTrail {
// border-top: 1px solid #C8C8C8;
padding: 10px 5px 7px 0;
clear: both;
    float: right;
    font-size: 0.8rem;
.cnt {
color: #AEAEAE;
}
}
.trackback {
// width: 598px;
border: 1px solid $color_gallery_approx;
background: $color_alabaster_approx;
padding: 5px 5px 0 5px;
margin-bottom: 10px;
overflow: hidden;
a {
color: $black;
&.delete {
background: $url_19 left top no-repeat;
padding-left: 8px;
text-decoration: none;
span {
display: none;
}
}
}
h3 {
font: 11px $font_5;
color: $color_mine_shaft_approx;
border-bottom: 1px solid $color_wild_sand_approx;
margin: 5px 5px 10px 5px;
}
h4 {
font: 12px $font_5;
font-weight: normal;
margin: 0;
}
ol {
margin: 0;
padding: 0;
list-style: none;
}
li {
border-top: 1px dotted $color_celeste_approx;
padding: 5px;
}
.date {
font: 0.9em $font_5, $font_1, $font_2, $font_3, $font_4;
color: $color_tapa_approx;
}
p {
font: 0.95em $font_6, $font_2, $font_4;
color: $color_mountain_mist_approx;
margin: 3px 0 0;
padding: 0;
letter-spacing: -1px;
}
}







#tt_captChaBox {
  z-index: 99 !important;
  width: 100% !important;
  position: absolute !important;
  margin-top: -41px !important;
}


















.comment {
color: #000;





.commentList p {
 border-top: 1px dashed #ccc;
}
// width: 598px;
// border: 1px solid $color_gallery_approx;
// background: $color_alabaster_approx;
padding: 5px 5px 0 5px;
// overflow: hidden;

i {
margin-left:9px;
       color: #969696;
}
p {
margin: 3px 0 0;
padding: 0;

}
h3 {
display: none;
}
ol {
@extend %extend_4;
li {
// border-bottom: 1px dashed $color_mountain_mist_approx;
margin: 0 0 7px 0;
padding: 0 0 7px 0;
}
}
ul {
@extend %extend_4;
}
.date {
font-family:$font_5, $font_1, $font_2, $font_3, $font_4;
// color: #BBB;;
font-size: 0.6rem;
float: left;

}
.modify-box {
 float: left;
}
.date-line {
 margin-left: 20px;
}
.name {
color: $color_storm_dust_approx;
// font-weight: bold;
img {
border-radius: 4px;
}
a {
color: $color_mine_shaft_approx;
font-size:11px;
// font-weight: bold;
}
}
li ul li {
// padding: 5px 10px 5px 35px;
// background: $url_20 no-repeat 12px 6px;
// border: none;
}



.comment-user-id {
margin-top:5px;
padding: 0px;
}
.comment-user-comment{
border-left: solid 0px #d5d5d5;



}



.comment-write-box {
 width: 25px;
 float: left;
 margin-top: 10px;
}


.comment-box {
 width: 85%;
 float: left;
}


.comment-modify {
 width: 27px;
 float: left;
}


.control {

a {
color: #5A5A5A;


}



}



.comment-second-box {
padding: 0px;
padding-right: 21px;
}


.comment-second-p {

padding-right: 10px;
padding-left: 0px;
}
.comment-second-row {
margin-left:-7px;
}

.date {
color: #a9a9a9;
}

}

.comment-secrete-bottom {
float: right;
width: 150px;
margin-top: -57px;
margin-right: 27px;
}


.rp_general {
float:right;
width: 100%;

.comment-user-id {
width: 100%;
margin-left: 20px;
}

.comment-user-comment {
width: 100%;
margin-left: 5px;
padding-left: 34px;
}
.name-icon {
 background: url(images/10.png) no-repeat;
 width: 17px;
 height: 16px;
 background-size: 97%;
 border-radius: 4px 4px 4px 4px;
 float:left;
 margin-left:-5px;
}
.name-text {
font-size: 12px;
padding-left: 15px;
}

}



.rp_secret {
  float: left;
  width: 100%;
  padding-left: 16px;
.comment-user-id {
width: 100%;
// margin-left: 20px;
}

.comment-user-comment {
width: 100%;
margin-left: 5px;
// padding-left: 34px;
}
.name-icon {
 background: url(images/10.png) no-repeat;
 width: 17px;
 height: 16px;
 background-size: 97%;
 border-radius: 4px 4px 4px 4px;
 float:left;
 margin-left:-5px;
}
.name-text {
font-size: 12px;
padding-left: 15px;
}

}


.comment-second-row {

.name-icon {
 background: url(images/10.png) no-repeat;
 width: 17px;
 height: 16px;
 background-size: 97%;
 border-radius: 4px 4px 4px 4px;
 float:left;
 margin-left: -5px;
}
.name-text {
font-size: 12px;
padding-left: 10px;
}

}



.comment-upper-input {
input {
padding-top: 0px;
padding-bottom: 0px;
}
}
.comment-bottom-input {
display: none;
}

.commentWrite {
overflow: hidden;
padding: 5px;
width: 100%;
float:left;
margin-top: 37px;



input[type="submit"] {
   font-family: FontAwesome;
}


input {






// width: 150px;
color: #6f6f6f;
background-color: #efefef;
border-radius: 5px;
width:100%;
transition: color 300ms ease-out;
height: 30px;
   font-family: nanum gothic;
   margin-bottom: 4px;
   border-color: #E4E4E4;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) inset;

&:hover {
// background-color: #FFFFFF;
  color: #615757;
  -webkit-transition: color 600ms ease-out;
  transition: color 600ms ease-out;
}

}
textarea {
// width: 565px;
overflow: hidden;
padding: 5px;

color: $color_storm_dust_approx;
background-color: #f7f7f7;
border-radius: 8px;
// width: 70%;
float: right;
// margin: 10px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
 padding: 25px 10px 10px 10px;
 line-height: 1.3rem;





}

.comment-upper-input {
.comment-input1{

}
.comment-input3{

}
}



.homepage {
// width: 300px;
}
.submit {
// background: $url_21 no-repeat;
width: 71px;
height: 23px;
overflow: hidden;
display: block;
// text-indent: -1000em;
border: 0;
cursor: pointer;
margin: 0 auto;
background-color: transparent;
color:#333333;
}

.checkbox {
border: none;
padding: 0;
margin: 0;
width: 25px;
}
}




p .secretWrap {
clear: both;
float: right;
position: relative;
// top: 0;
// left: -10px;
// margin-bottom: 5px;
margin:0px;
}










// #paging {
// padding-top: 10px;
// text-align: center;
// font-size: 0.95em;
// .numbox {
// border-left: 1px solid $color_celeste_approx;
// padding-left: 6px;
// margin-left: 6px;
// font: 0.95em $font_8;
// }
// .num {
// border-right: 1px solid $color_celeste_approx;
// padding-right: 8px;
// margin-right: 5px;
// }
// #prevPage {
// background: $url_1 left 1px no-repeat;
// padding-left: 6px;
// }
// #nextPage {
// background: $url_2 right 1px no-repeat;
// padding-right: 6px;
// }
// }

#notice {
margin: 10px 0;
padding: 0;
font-weight:bold;
li {
// border-bottom: 1px dotted $color_alto_approx;
margin: 0 0 2px 0;
padding: 0 0 1px 0;
background: none;
}
a {
&:link {
// background: $url_23 0 0 no-repeat;
padding: 0 0 5px 10px;
}
&:visited {
// background: $url_23 0 0 no-repeat;
padding: 0 0 5px 10px;
}
&:hover {
// background: $url_24 0 0 no-repeat;
padding: 0 0 5px 10px;
text-decoration: none;
color: #000000;
font-weight:bold;
}
}
}
#adminMenu {
margin: 5px 0 10px;
text-align: center;
// background-color: $color_gallery_approx;
padding: 5px;
li {
display: inline;
background: none;
}
}


.top-search{
margin-top: 49px;
}

#searchBox {
   width: 95%;

input{
background-color: rgba(239, 239, 239, 0.17);
color:#000;
 height: 48px;
 border-radius: 9px;
 padding-left: 20px;

 &:hover {
  background-color: #efefef;
  transition: 400ms ease-out;
 }
}
// text-align: center;
// input {
// width: 160px;
// height: 17px;
// border: 1px solid $color_silver_chalice_approx;
// }
// .submit {
// background: $url_25 no-repeat;
// width: 21px;
// height: 21px;
// text-indent: -5000px;
// border: 0;
// cursor: pointer;
// }
}






.row .sidebar_layer2 {
margin-top:2px;
}

.row .sidebar_layer3 {
margin-top:2px;
}



// .sidebar-box-in {
// border-radius: 9px;
// padding:20px;
// border: dotted 1px #888888;

// }

// .sidebar-1 {
// background-color: #316FB0;

// }
// .sidebar-2 {
// background-color: #3C8ADE;

// }
// .sidebar-3 {
// background-color: #316FB0;

// }
// .sidebar-4 {
// background-color: #3C8ADE;

// }
// .sidebar-5 {
// background-color: #316FB0;

// }
// .sidebar-6 {
// background-color: #3C8ADE;

// }
// .sidebar-7{
// background-color: #316FB0;

// }
// .sidebar-8 {
// background-color: #3C8ADE;

// }
// .sidebar-9 {
// background-color: #316FB0;

// }






#recentComment {
// width: 190px;
overflow: hidden;
.info_wrap {
margin-bottom: 3px;
color: $color_mountain_mist_approx;
display: block;
}
}
#recentTrackback {
// width: 190px;
overflow: hidden;
.info_wrap {
margin-bottom: 3px;
color: $color_mountain_mist_approx;
display: block;
}
}
#counter {
    max-width: 250px;
    margin:auto;

ul li {
  font-size: 0.6em;
}

font: 0.85em $font_5, $font_1, $font_2, $font_3, $font_4;
padding: 5px 0;
// margin: 10px 0;
text-align: center;
// background-color: #F7F7F7;
letter-spacing: 0;

 border: solid 1px #DBDBDB;
  color: #A8A8A8;


li {
background: none;
display: inline;
padding: 0 5px;
&.total {
display: block;
color: $black;
}
}
}
#btnRSS {
text-align: center;
padding: 5px;
}
#uibgmplayer {
margin: 5px 0 0 5px;
// width: 181px;
}

#guestbook p {
padding: 2px 0;
margin: 0;
}
.entryNotice h2 {
font-size: 1.2em;
line-height: 1.2em;
}
.entry h2 {
font-size: 1.2em;
line-height: 1.2em;
a {
font-size: 1rem;
font-family: 'Nanum Gothic', sans-serif;
color: $color_mine_shaft_approx;
line-height: 1.2em;
padding: 8px 0 6px;
}
}
#blogImage img {
// width: 200px;
// height: 150px;
padding-bottom: 6px;
margin-top: 10px;
}

#archive li {
font-family: $font_8;
}
#calendar {

td {
font-family: $font_8;
}

table {
border: solid 0px #DDDDDD;
background-color: transparent;


td .cal_day3{
a {
color: #d4d4d4;
}
}
}

table tr:nth-of-type(even) {
  background: transparent;
}
table thead {
 background: #F2F1F1;
}

}

td.cal_day.cal_day3 {
a.cal_click {
color: #0E0D0D;
}
}


td.cal_day.cal_day4 {
color: #a8a8a8
}



#calendar {

a.prev-month {
color: #6B6B6B;
float:left;
margin-left: 20%

}
a.next-month {
color: #6B6B6B;
float:right;
margin-right: 20%;
}
a.this-month {
color: #6B6B6B;
}
}



#adTistory.invite_tistory {
marign: 8px 0;
font-family: $font_6;
font-size: 11px;
color: $color_mine_shaft_approx;
text-align: center;
}


#spacer {
  height: 100px;
  width: 100%;

}


.top_title{
  margin-top: 55px;
}


